a{
	text-decoration: none;
	color: #E9E9E9;
}

.container a:hover{
	text-decoration: none;
	color: #7F7D7D;
}

a:visited, a:active, a:link{
	text-decoration: none;
	color: #E9E9E9;
}

h2{
	color: #FFF;
}

body{
	height: 100%;
	width: 100vw;
	background: linear-gradient(to bottom, #9C9C9C, #E9E9E9)
}

nav{
	height: 7vh;
	background: #1C1C1C;
	position: fixed;
	top: 0;
	width: 100%;
	font-size: 1.3em;
}

.links{
	display: inline-flex;
	float: right;
	margin: auto;
	height: 100%;
	line-height: 7vh;
}


li{
	display: inline-block;
	list-style: none;
	padding-right: 5px;
}

.links a:hover{
	background: #4B4B4B;
	color: #1E1E1E;
}

#main{
	margin-top: 7vh;
	height: 93vh;
	overflow: auto;
	color: #E9E9E9;
}

.container{
	background: #4B4B4B;
	margin-top: 1vh;
	border-style: none;
	border-radius: 10px;
	border-color: #1E1E1E;
}

#about{
	padding: 5px;
	line-height: 1.5em;
	font-size: 1.5em;
}

.pic{
	float: right;
	text-align: center;
	margin: auto;
}


img{
	border-radius: 20px;
	height: 40vh;
	max-width: 100%;
	max-height: 100%;
}

.item{
	margin: 0;
	padding: 5px;
	text-align: center;
}

#footer{
	text-align: center;
}